USE [master]
GO
/****** Object:  Database [MediTriage]    Script Date: 20-11-2025 10:49:47 ******/
CREATE DATABASE [MediTriage]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MediTriage', FILENAME = N'C:\Users\matth\MediTriage.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MediTriage_log', FILENAME = N'C:\Users\matth\MediTriage_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MediTriage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MediTriage]
GO
/****** Object:  Schema [dw]    Script Date: 20-11-2025 10:49:47 ******/
CREATE SCHEMA [dw]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 20-11-2025 10:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 20-11-2025 10:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[DoctorId] [int] NOT NULL,
	[Start] [datetime2](7) NOT NULL,
	[End] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
	[TriageLevel] [nvarchar](max) NULL,
	[TriageNotes] [nvarchar](max) NULL,
	[Rut] [nvarchar](max) NULL,
 CONSTRAINT [PK_Appointments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 20-11-2025 10:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Specialty] [nvarchar](max) NOT NULL,
	[Center] [nvarchar](max) NULL,
 CONSTRAINT [PK_Doctors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorSucursal]    Script Date: 20-11-2025 10:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorSucursal](
	[DoctorsId] [int] NOT NULL,
	[SucursalesId] [int] NOT NULL,
 CONSTRAINT [PK_DoctorSucursal] PRIMARY KEY CLUSTERED 
(
	[DoctorsId] ASC,
	[SucursalesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 20-11-2025 10:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[DateOfBirth] [datetime2](7) NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sucursales]    Script Date: 20-11-2025 10:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[Direccion] [nvarchar](200) NOT NULL,
	[Comuna] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_Sucursales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20-11-2025 10:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](120) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[Role] [int] NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dw].[DimCanal]    Script Date: 20-11-2025 10:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DimCanal](
	[channelKey] [int] IDENTITY(1,1) NOT NULL,
	[canal] [nvarchar](50) NULL,
 CONSTRAINT [PK_DimCanal] PRIMARY KEY CLUSTERED 
(
	[channelKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[DimCliente]    Script Date: 20-11-2025 10:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DimCliente](
	[customerKey] [int] IDENTITY(1,1) NOT NULL,
	[idCliente] [nvarchar](255) NULL,
	[nombre] [nvarchar](255) NULL,
	[apellido] [nvarchar](255) NULL,
	[edad] [smallint] NULL,
	[estadoCivil] [nvarchar](255) NULL,
	[residencia] [nvarchar](255) NULL,
	[origen] [nvarchar](255) NULL,
	[scdStartDate] [datetime2](7) NOT NULL,
	[scdEndDate] [datetime2](7) NULL,
	[scdIsCurrent] [bit] NOT NULL,
 CONSTRAINT [PK_DimCliente] PRIMARY KEY CLUSTERED 
(
	[customerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[DimDocumento]    Script Date: 20-11-2025 10:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DimDocumento](
	[docTypeKey] [int] IDENTITY(1,1) NOT NULL,
	[tipoDocumento] [nvarchar](255) NULL,
 CONSTRAINT [PK_DimDocumento] PRIMARY KEY CLUSTERED 
(
	[docTypeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[DimProducto]    Script Date: 20-11-2025 10:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DimProducto](
	[productKey] [int] IDENTITY(1,1) NOT NULL,
	[codigoProducto] [nvarchar](255) NULL,
	[nombre] [nvarchar](255) NULL,
	[familia] [nvarchar](255) NULL,
 CONSTRAINT [PK_DimProducto] PRIMARY KEY CLUSTERED 
(
	[productKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigoProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[DimSucursal]    Script Date: 20-11-2025 10:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DimSucursal](
	[storeKey] [int] IDENTITY(1,1) NOT NULL,
	[sucursalId] [int] NULL,
	[nombreSucursal] [nvarchar](255) NULL,
	[comuna] [nvarchar](255) NULL,
	[provincia] [nvarchar](255) NULL,
	[region] [nvarchar](255) NULL,
 CONSTRAINT [PK_DimSucursal] PRIMARY KEY CLUSTERED 
(
	[storeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[DimTiempo]    Script Date: 20-11-2025 10:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DimTiempo](
	[dateKey] [int] NOT NULL,
	[fullDate] [date] NOT NULL,
	[day] [tinyint] NOT NULL,
	[month] [tinyint] NOT NULL,
	[monthName] [nvarchar](20) NOT NULL,
	[quarter] [tinyint] NOT NULL,
	[year] [smallint] NOT NULL,
	[isWeekend] [bit] NOT NULL,
 CONSTRAINT [PK_DimTiempo] PRIMARY KEY CLUSTERED 
(
	[dateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[DimVendedor]    Script Date: 20-11-2025 10:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DimVendedor](
	[sellerKey] [int] IDENTITY(1,1) NOT NULL,
	[idVendedor] [int] NULL,
	[nombre] [nvarchar](255) NULL,
	[apellido] [nvarchar](255) NULL,
 CONSTRAINT [PK_DimVendedor] PRIMARY KEY CLUSTERED 
(
	[sellerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[FactVentaDetalle]    Script Date: 20-11-2025 10:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[FactVentaDetalle](
	[factId] [bigint] IDENTITY(1,1) NOT NULL,
	[dateKey] [int] NOT NULL,
	[productKey] [int] NOT NULL,
	[customerKey] [int] NOT NULL,
	[sellerKey] [int] NOT NULL,
	[storeKey] [int] NOT NULL,
	[channelKey] [int] NOT NULL,
	[docTypeKey] [int] NOT NULL,
	[documento] [nvarchar](255) NULL,
	[cantidad] [int] NOT NULL,
	[precioUnitario] [decimal](18, 2) NOT NULL,
	[costoUnitario] [decimal](18, 2) NULL,
	[totalLinea] [decimal](18, 2) NOT NULL,
	[margenLinea]  AS ([totalLinea]-isnull([costoUnitario],(0))*[cantidad]) PERSISTED,
 CONSTRAINT [PK_FactVentaDetalle] PRIMARY KEY CLUSTERED 
(
	[factId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointments_DoctorId]    Script Date: 20-11-2025 10:49:47 ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_DoctorId] ON [dbo].[Appointments]
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointments_PatientId]    Script Date: 20-11-2025 10:49:47 ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_PatientId] ON [dbo].[Appointments]
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Doctors_UserId]    Script Date: 20-11-2025 10:49:47 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Doctors_UserId] ON [dbo].[Doctors]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DoctorSucursal_SucursalesId]    Script Date: 20-11-2025 10:49:47 ******/
CREATE NONCLUSTERED INDEX [IX_DoctorSucursal_SucursalesId] ON [dbo].[DoctorSucursal]
(
	[SucursalesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Patients_UserId]    Script Date: 20-11-2025 10:49:47 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Patients_UserId] ON [dbo].[Patients]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 20-11-2025 10:49:47 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DimCliente_IdNatural]    Script Date: 20-11-2025 10:49:47 ******/
CREATE NONCLUSTERED INDEX [IX_DimCliente_IdNatural] ON [dw].[DimCliente]
(
	[idCliente] ASC
)
INCLUDE([scdIsCurrent]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DimProducto_Familia]    Script Date: 20-11-2025 10:49:47 ******/
CREATE NONCLUSTERED INDEX [IX_DimProducto_Familia] ON [dw].[DimProducto]
(
	[familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DimSucursal_Region]    Script Date: 20-11-2025 10:49:47 ******/
CREATE NONCLUSTERED INDEX [IX_DimSucursal_Region] ON [dw].[DimSucursal]
(
	[region] ASC,
	[provincia] ASC,
	[comuna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DimVendedor_IdV]    Script Date: 20-11-2025 10:49:47 ******/
CREATE NONCLUSTERED INDEX [IX_DimVendedor_IdV] ON [dw].[DimVendedor]
(
	[idVendedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FactVentaDetalle_Canal]    Script Date: 20-11-2025 10:49:47 ******/
CREATE NONCLUSTERED INDEX [IX_FactVentaDetalle_Canal] ON [dw].[FactVentaDetalle]
(
	[channelKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FactVentaDetalle_Cliente]    Script Date: 20-11-2025 10:49:47 ******/
CREATE NONCLUSTERED INDEX [IX_FactVentaDetalle_Cliente] ON [dw].[FactVentaDetalle]
(
	[customerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FactVentaDetalle_Producto]    Script Date: 20-11-2025 10:49:47 ******/
CREATE NONCLUSTERED INDEX [IX_FactVentaDetalle_Producto] ON [dw].[FactVentaDetalle]
(
	[productKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FactVentaDetalle_Sucursal]    Script Date: 20-11-2025 10:49:47 ******/
CREATE NONCLUSTERED INDEX [IX_FactVentaDetalle_Sucursal] ON [dw].[FactVentaDetalle]
(
	[storeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FactVentaDetalle_Time]    Script Date: 20-11-2025 10:49:47 ******/
CREATE NONCLUSTERED INDEX [IX_FactVentaDetalle_Time] ON [dw].[FactVentaDetalle]
(
	[dateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [PasswordHash]
GO
ALTER TABLE [dw].[DimCliente] ADD  CONSTRAINT [DF_DimCliente_scdStart]  DEFAULT (sysutcdatetime()) FOR [scdStartDate]
GO
ALTER TABLE [dw].[DimCliente] ADD  CONSTRAINT [DF_DimCliente_scdIsCurrent]  DEFAULT ((1)) FOR [scdIsCurrent]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Doctors_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Doctors_DoctorId]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Patients_PatientId]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_Users_UserId]
GO
ALTER TABLE [dbo].[DoctorSucursal]  WITH CHECK ADD  CONSTRAINT [FK_DoctorSucursal_Doctors_DoctorsId] FOREIGN KEY([DoctorsId])
REFERENCES [dbo].[Doctors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DoctorSucursal] CHECK CONSTRAINT [FK_DoctorSucursal_Doctors_DoctorsId]
GO
ALTER TABLE [dbo].[DoctorSucursal]  WITH CHECK ADD  CONSTRAINT [FK_DoctorSucursal_Sucursales_SucursalesId] FOREIGN KEY([SucursalesId])
REFERENCES [dbo].[Sucursales] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DoctorSucursal] CHECK CONSTRAINT [FK_DoctorSucursal_Sucursales_SucursalesId]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Users_UserId]
GO
ALTER TABLE [dw].[FactVentaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_FactCanal] FOREIGN KEY([channelKey])
REFERENCES [dw].[DimCanal] ([channelKey])
GO
ALTER TABLE [dw].[FactVentaDetalle] CHECK CONSTRAINT [FK_FactCanal]
GO
ALTER TABLE [dw].[FactVentaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_FactCliente] FOREIGN KEY([customerKey])
REFERENCES [dw].[DimCliente] ([customerKey])
GO
ALTER TABLE [dw].[FactVentaDetalle] CHECK CONSTRAINT [FK_FactCliente]
GO
ALTER TABLE [dw].[FactVentaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_FactDocType] FOREIGN KEY([docTypeKey])
REFERENCES [dw].[DimDocumento] ([docTypeKey])
GO
ALTER TABLE [dw].[FactVentaDetalle] CHECK CONSTRAINT [FK_FactDocType]
GO
ALTER TABLE [dw].[FactVentaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_FactProducto] FOREIGN KEY([productKey])
REFERENCES [dw].[DimProducto] ([productKey])
GO
ALTER TABLE [dw].[FactVentaDetalle] CHECK CONSTRAINT [FK_FactProducto]
GO
ALTER TABLE [dw].[FactVentaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_FactSucursal] FOREIGN KEY([storeKey])
REFERENCES [dw].[DimSucursal] ([storeKey])
GO
ALTER TABLE [dw].[FactVentaDetalle] CHECK CONSTRAINT [FK_FactSucursal]
GO
ALTER TABLE [dw].[FactVentaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_FactTiempo] FOREIGN KEY([dateKey])
REFERENCES [dw].[DimTiempo] ([dateKey])
GO
ALTER TABLE [dw].[FactVentaDetalle] CHECK CONSTRAINT [FK_FactTiempo]
GO
ALTER TABLE [dw].[FactVentaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_FactVendedor] FOREIGN KEY([sellerKey])
REFERENCES [dw].[DimVendedor] ([sellerKey])
GO
ALTER TABLE [dw].[FactVentaDetalle] CHECK CONSTRAINT [FK_FactVendedor]
GO
ALTER TABLE [dw].[FactVentaDetalle]  WITH CHECK ADD CHECK  (([cantidad]>=(0)))
GO
ALTER TABLE [dw].[FactVentaDetalle]  WITH CHECK ADD CHECK  (([costoUnitario]>=(0)))
GO
ALTER TABLE [dw].[FactVentaDetalle]  WITH CHECK ADD CHECK  (([precioUnitario]>=(0)))
GO
ALTER TABLE [dw].[FactVentaDetalle]  WITH CHECK ADD CHECK  (([totalLinea]>=(0)))
GO
/****** Object:  StoredProcedure [dw].[Sp_Popular_DimTiempo]    Script Date: 20-11-2025 10:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [dw].[Sp_Popular_DimTiempo]
        @FechaInicio DATE = '2015-01-01',
        @FechaFin    DATE = '2035-12-31'
    AS
    BEGIN
        SET NOCOUNT ON;
        ;WITH d AS (
            SELECT @FechaInicio AS dt
            UNION ALL
            SELECT DATEADD(DAY,1,dt) FROM d WHERE dt < @FechaFin
        )
        INSERT INTO dw.DimTiempo(dateKey, fullDate, [day], [month], monthName, [quarter], [year], isWeekend)
        SELECT CONVERT(INT, FORMAT(dt, 'yyyyMMdd')),
               dt,
               DATEPART(DAY, dt),
               DATEPART(MONTH, dt),
               DATENAME(MONTH, dt),
               DATEPART(QUARTER, dt),
               DATEPART(YEAR, dt),
               CASE WHEN DATEPART(WEEKDAY, dt) IN (7,1) THEN 1 ELSE 0 END
        FROM d
        WHERE NOT EXISTS (SELECT 1 FROM dw.DimTiempo t WHERE t.dateKey = CONVERT(INT, FORMAT(d.dt,'yyyyMMdd')))
        OPTION (MAXRECURSION 0);
    END
    
GO
USE [master]
GO
